@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');




.site_header{

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px rgb(1, 52, 107);
  
}

.logo{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;  
  font-weight: 700;
  font-family: 'Rowdies', cursive;


}
.navbar{
  display:flex ;
  align-items: center;
  gap: 30px;
}


.navbar_links{
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  list-style: none;
  justify-content: flex-end;

}

.navbar_links a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.navbar_links a:hover {
  
color:rgb(18, 64, 151);

}




.btn, .btn_cntrl {
    padding: 10px 15px;
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s ease;
    line-height: 1.1;
    margin-right: 30px;
    text-decoration: none;
  }
  
  .btn:hover, .btn_cntrl:hover {
    background-color: #1a84a7;
    opacity: 1;
    cursor: pointer;
    transform: scale(1.08);
   
    
  }
  
  .btn:disabled, .btn_cntrl:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

