.header{
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: #283a61;
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px rgb(0, 0, 0);
    color: white;
    z-index: 100;
}

.container {
        
        
}
.inner-container{
background-color: #283a61;
}

ul{

justify-content: space-between;
display: flex;
align-items: center;
text-transform: uppercase;


}


li {
list-style: none;

}

li a {
text-decoration:   none;
color: white;
}


li a:hover {
color:aqua

}

@media (max-width: 1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}