:root {
    --primary:#283a61;
    --secondary: #21d07a;
    --white: #fff;
  }

  body {
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
  }


.app {
    min-height: 100vh;
    background-color: #263452;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;

}


@media (max-width: 700px){
    .app{
        padding-top: 70px;
    }
}