

:root {
    --primary:#ffffff;
    --secondary: #21bcd0;
    --white: #fff;
    background:linear-gradient(90deg, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%)
  }

  body {
    font-family: "Source Sans Pro", sans-serif;
    padding: 0;
    margin: 0;
  }


.app {
    min-height: 100vh;
    background-color: #263452;
    color: white;
    padding-top: 130px;
    padding-bottom: 70px;

}


@media (max-width: 700px){
    .app{
        padding-top: 70px;
    }
}